@font-face {
    font-family: "Verve.ttf";
    src: url('../font/Verve.ttf');
}

@font-face{
    font-family: "CreteRound-Regular.ttf";
    src: url('../font/CreteRound-Regular.ttf');
}

body{
    background-color: #004032;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#titreNom, .cestCirculise{
    color: #c7082b;
    text-transform: uppercase;
    font-family: "Verve.ttf", sans-serif;
    font-size: 7em;
    
}

.cestCirculise{
    display: inline-block;
    margin-left: 10px;
}

#leTitre{
    margin: auto;
    width: 50%;
    text-align: center;
    transform: translateY(50%);
}

.rectangle{
    height: 89mm; /* ratio 1.53*/
    width: 58mm;
    border: #ecb900 8px solid;
    border-radius: 3px;
    position: absolute;
    left: 44%;
    bottom: 5%;
}

.carteDos{
    height: 95mm; /* ratio 1.53*/
    width: 60mm;
    position: absolute;
    left: 44.2%;
    bottom: 5%;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 12px 11px 24px -7px rgba(0,0,0,0.64);

    /*animation: carteDos 1s cubic-bezier(0.21, 0.83, 0.24, 1);*/
}

.carteFace{
    height: 105mm;
    width: 70mm;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 5px 7px 23px -1px rgba(0,0,0,0.64);
    font-family: "CreateRound-Regular.ttf", sans-serif;
    color: black;
    bottom: -17%; /* -17% */
    left: 43.3%;
}

.carteFace .num-cards{
    margin: 0;
    padding: 0;
    margin-top: -3px;
    margin-left: 8px;
    font-size: 12mm;
}

.carteFace .num-cards-upside{
    margin: 0;
    padding: 0;
    margin-right: 8px;
    font-size: 12mm;
    rotate: 180deg;
    padding-bottom: 101%;
}

.carteFace .icon-cards{
    width: 7mm;
    height: auto;
    margin-left: 7px;
    margin-top: -12px;
    position: absolute;
}

.carteFace .icon-cards-upside{
    width: 7mm;
    height: auto;
    rotate: 180deg;
    position: absolute;
    padding-right: 87%;
    padding-bottom: 95%;
}

.icon-entre img{
    width: 20mm;
    height: auto;
    position: absolute;
}

.icon-entre .image-icon-entre{
    width: 50mm;
    top: 10.5%;
    left: 14%;
}

.carteCroupier{
    height: 40mm;
    width: 30mm;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1;
    top: -2%;
    box-shadow: 0px 2px 26px -2px rgba(0,0,0,0.65);
    color: #dc2021;
}

.carteCroupier p{
    margin: 0;
    padding: 0;
    margin-top: -3px;
    margin-left: 8px;
    font-size: 7mm;
}

.carteCroupier img{
    width: 100%;
    height: auto;
}

.carteCroupier .petit{
    width: 4mm;
    height: auto;
    margin-left: 7px;
    margin-top: -7px;
    position: absolute;
}

.carteCroupier .reseau{
    width: 20mm;
    height: auto;
    top: 35%;
    left: 17%;
    position: absolute;
    rotate: 180deg;
}

@keyframes carteDos{
    0%{
        transform: translateY(-300%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes recupCarte{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(300%);
    }
}

@keyframes carteOrganise{
    0%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes carteMain{
    0%{transform: translateY(100%);}
    80%{transform: translateY(-20%);}
    100%{transform: translateY(0%);}
}