@font-face {
    font-family: "Verve.ttf";
    src: url('../font/Verve.ttf');
}

body{
    background-color: #004032;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#titreNom, .cestCirculise{
    color: #c7082b;
    text-transform: uppercase;
    font-family: "Verve.ttf", sans-serif;
    font-size: 7em;
    
}

.cestCirculise{
    display: inline-block;
    margin-left: 10px;
}

#leTitre{
    margin: auto;
    width: 50%;
    text-align: center;
    transform: translateY(50%);
}

.rectangle{
    height: 89mm; /* ratio 1.53*/
    width: 58mm;
    border: #ecb900 8px solid;
    border-radius: 3px;
    position: absolute;
    left: 44%;
    bottom: 5%;
}

.carteDos{
    height: 95mm; /* ratio 1.53*/
    width: 60mm;
    position: absolute;
    left: 44.2%;
    bottom: 5%;
    z-index: 1;
    border-radius: 5px;

    /*animation: carteDos 1s cubic-bezier(0.21, 0.83, 0.24, 1);*/
}

@keyframes carteDos{
    0%{
        transform: translateY(-300%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes recupCarte{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(300%);
    }
}